* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post-wrapper {
  width: 50%;
  height: 50%;
  display: flex;
}

.post-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: rgb(242, 234, 234);
}

input {
  width: 100%;
  height: 10%;
  padding-left: 5px;
  outline: none;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 50%;
  padding: 5px;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: fit-content;
  height: 30px;
  /* background-color: #c8c7c7; */
  border-radius: 8%;
  outline: none;
  border: 2px solid black;
}

.post {
  width: 100%;
  height: fit-content;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f6f6f6;
  border-top: 4px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.title-section {
  width: 100%;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  justify-content: space-between;
  padding: 3px;
  padding-right: 10px;
}

.hide {
  transform: scale(0);
}

.show {
  transform: scale(1);
}

.button{
  width: 5%;
  outline:none;
  border: none;
  font-size: larger;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .post-wrapper {
    width: 90%;
    height: auto;
  }

  .post-form {
    gap: 10px;
    padding: 5px;
  }

  input, textarea {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    height: 25px;
  }

  .title-section {
    font-size: 14px;
  }

  .button {
    width: 10%;
    font-size: medium;
  }
}